# OSX
.DS_Store

# SCons
.sconsign.dblite

# Build
/minimal/build/
/build/
/lib/
/bin/
*.o
/Sample
/SargassoTests

# VSCode
.vscode/

# Python
__pycache__/

# CMake files
CMakeCache.txt
CMakeFiles/
Makefile
bin/
cmake_install.cmake
