# This is a basic workflow to help you get started with Actions

name: CI

defaults:
  run:
    shell: bash -ieo pipefail {0}

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [master, dev]
  pull_request:
    branches: [master, dev]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build-linux:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
        with:
          submodules: recursive

      # Installs dependencies
      - name: Install dependencies
        run: sudo apt-get install -y cmake g++-9 xorg-dev

      # Configure build
      - name: Build
        run: cmake -B build .

      # Build targets
      - name: Build samples
        run: make -C build
      # Runs tests
      # - name: Test
      #   run: |
      #     cmake -B build -DSARGASSO_RUN_TESTS=ON
      #     cmake --build build
